name: Deploy Admin React App

on:
  push:
    branches:
      - main
      - test

jobs:
  deploy:
    if: |
        !contains(github.event.head_commit.message, '[skip deploy]')
    runs-on: ubuntu-latest

    # Set the environment
    environment: ${{ github.ref_name == 'main' && 'prod' || 'test' }}

    env:
      DEPLOY_DIR: ${{ secrets.DEPLOY_DIR }}
      CPANEL_USER: ${{ secrets.CPANEL_USER }}

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install Dependencies
        run: npm ci

      - name: Build React App
        env: 
          REACT_APP_API_BASE_URL: ${{ vars.REACT_APP_API_BASE_URL }}
          REACT_APP_FAV_ICON: ${{ vars.REACT_APP_FAV_ICON }}
        run: |
              echo "Building React app with API base URL: $REACT_APP_API_BASE_URL"
              CI=false npm run build

      - name: Create Deployment marker file
        run: echo "${GITHUB_SHA}" > build/.deploy-marker 

      - name: Check and Prepare Deployment Directory
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.CPANEL_HOST }}
          username: ${{ secrets.CPANEL_USER }}
          key: ${{ secrets.CPANEL_SSH_KEY }}
          script: |
            DEPLOY_PATH="/home/${{ secrets.CPANEL_USER }}/${{ secrets.DEPLOY_DIR }}"
            if [ ! -d "$DEPLOY_PATH" ]; then
              mkdir -p "$DEPLOY_PATH"
              echo "Created deployment directory: $DEPLOY_PATH"
            else
              echo "Deployment directory already exists: $DEPLOY_PATH"
            fi

      - name: Upload Files to cPanel
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.CPANEL_HOST }}
          username: ${{ secrets.CPANEL_USER }}
          key: ${{ secrets.CPANEL_SSH_KEY }}
          source: build/*
          target: "/home/${{ secrets.CPANEL_USER }}/${{ secrets.DEPLOY_DIR }}"

      - name: Check Deployment
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.CPANEL_HOST }}
          username: ${{ secrets.CPANEL_USER }}
          key: ${{ secrets.CPANEL_SSH_KEY }}
          script: |
            DEPLOY_PATH="/home/${{ secrets.CPANEL_USER }}/${{ secrets.DEPLOY_DIR }}"
            MARKER_FILE="$DEPLOY_PATH/build/.deploy-marker"
            if [ -f "$MARKER_FILE" ] && grep -q "${GITHUB_SHA}" "$MARKER_FILE"; then
              echo "Deployment successful. Files are present in $DEPLOY_PATH"
            else
              echo "Deployment failed. No files found in $DEPLOY_PATH"
              exit 1
            fi

      - name: Fix Permissions
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.CPANEL_HOST }}
          username: ${{ secrets.CPANEL_USER }}
          key: ${{ secrets.CPANEL_SSH_KEY }}
          script: |
            DEPLOY_PATH="/home/${{ secrets.CPANEL_USER }}/${{ secrets.DEPLOY_DIR }}"
            if [ -d "$DEPLOY_PATH" ] && [ ! -z "$DEPLOY_PATH" ] && [ "$DEPLOY_PATH" != "/home//" ]; then
              chmod -R 755 "$DEPLOY_PATH"
              echo "Permissions fixed."
              echo "Deployment completed."
            else
              echo "Error: Invalid deployment path - $DEPLOY_PATH"
              exit 1
            fi
